# Business understanding

## About the dataset

This dataset includes information on customer profiles and their purchasing behaviors. The data features columns for user ID, age, annual income, purchase amount, loyalty score (categorized into classes), region, and purchase frequency. 

As we know, it is much more expensive to sign in a new client than keeping an existing one. It is advantageous for banks to know what leads a client towards the decision to leave the company. Churn prevention allows companies to develop loyalty programs and retention campaigns to keep as many customers as possible.

Every bank wants to hold there customers for sustaining their business and thus this Anonymous Multinational bank. Below is the customer data of account holders at Anonymous Multinational Bank and the aim of the data will be predicting the Customer Churn.

> [Link to the dataset](https://www.kaggle.com/datasets/radheshyamkollipara/bank-customer-churn)

**Features**

`RowNumber` — Record (row) number. 

`CustomerId` — Random values for identificator number for each customer. 

`Surname` — TSurname of a customer. 

`CreditScore` — Numerical expression (frequently three-digit number) that rates your creditworthiness. Usually this scores range from 300 to 850. The higher the score, the more likely you are to get approved for loans and for better rates [1]. It is primarily based on a credit report, information typically sourced from credit bureaus [2]. 

`Geography` — A customer’s location can affect their decision to leave the bank. 

`Gender` — It’s interesting to explore whether gender plays a role in a customer leaving the bank. 

`Age` — This is certainly relevant, since older customers are less likely to leave their bank than younger ones. 

`Tenure` — Refers to the number of years that the customer has been a client of the bank. Normally, older clients are more loyal and less likely to leave a bank. 

`Balance` — Also a very good indicator of customer churn, as people with a higher balance in their accounts are less likely to leave the bank compared to those with lower balances. 

`NumOfProducts` — Refers to the number of products that a customer has purchased through the bank. 

`HasCrCard` — Denotes whether or not a customer has a credit card. This column is also relevant, since people with a credit card are less likely to leave the bank. 

`IsActiveMember` — Active customers are less likely to leave the bank. Customer's engagement level with the bank's services. A binary indicator where '1' signifies an active customer frequently engaging with the bank's services, and '0' indicates a less engaged customer potentially more likely to leave the bank. 

`EstimatedSalary` — As with balance, people with lower salaries are more likely to leave the bank compared to those with higher salaries. 

`Exited` — Whether or not the customer left the bank. 

`Complain` — Customer has complaint or not. 

`Satisfaction Score` — Score provided by the customer for their complaint resolution. 

`Card Type` — Type of card hold by the customer. 

`Points Earned` — The points earned by the customer for using credit card.

### Bibliography

> [1] Kagan, Julia. "Credit Score". Investopedia. Archived from the original on 2007-10-19. Retrieved 2021-05-24.

> [2] "What Is a Good Credit Score?". www.experian.com. 2021-02-11. Retrieved 2021-05-24.

In [6]:
import pandas as pd
import os

In [8]:
data = pd.read_csv(os.path.join("data","Customer-Churn-Records.csv"))
data.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

In [9]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Complain',
       'Satisfaction Score', 'Card Type', 'Point Earned'],
      dtype='object')